body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .simon-main {
    position: relative;
    margin: 0 auto;
  }
  
  .simon-cont {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 10px solid #000;
  }
  
  .simon-button {
    width: 50%;
    height: 50%;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s, transform 0.2s;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border: 8px solid #000;
    z-index: 1;
  }

  .simon-button.illuminati {
    opacity: 1;
    transform: scale(1.05);
    z-index: 2;
}
  
  .simon-button:hover {
    opacity: 1;
    z-index: 2;
  }
  
  .verde {
    background: linear-gradient(135deg, #4CAF50, #81C784);
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
  }
  
  .rojo {
    background: linear-gradient(135deg, #F44336, #E57373);
    top: 0;
    right: 0;
    border-radius: 0 100% 0 0;
  }
  
  .amarillo {
    background: linear-gradient(135deg, #FFEB3B, #FFF176);
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 100%;
  }
  
  .azul {
    background: linear-gradient(135deg, #2196F3, #64B5F6);
    bottom: 0;
    right: 0;
    border-radius: 0 0 100% 0;
  }
  
  .simon-centro {
    width: 20%;
    height: 20%;
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    border: 6px solid #000;
  }
  
  .simon-centro:hover {
    background-color: #777;
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  /* Responsive */
  
  .simon-main {
    width: 300px;
    height: 300px;
  }
  
  @media (min-width: 768px) {
    .simon-main {
      width: 400px;
      height: 400px;
    }
  }
  
  @media (min-width: 1200px) {
    .simon-main {
      width: 500px;
      height: 500px;
    }
  }